* {
  font-family: 'Lato', sans-serif;
}

body {
  max-width: 600px;
  margin: 0 auto;
}

header {
  margin-bottom: 100px;
}

.luigi {
  font-family: sans-serif;
  color: darkblue;
  transition-timing-function: ease;
  transition: 1s;
  width: fit-content;
}

.luigi:hover {
  font-size: 1.2rem;
  transition-duration: 0.5s;
  background-color: darkgrey;
}