* {
  font-family: 'Lato', sans-serif;
}

body {
  max-width: 600px;
  margin: 0 auto;
}

header {
  margin-bottom: 100px;
}
.marek{
  font-size: 30px;
  color:rgb(66, 221, 248);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 