* {
  font-family: 'Lato', sans-serif;
}

body {
  max-width: 600px;
  margin: 0 auto;
}

header {
  margin-bottom: 100px;
}

.veronikam {
  background-color: pink;
  color: darkblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-bottom: dotted 2px black;
}